html {
  box-sizing: border-box;
  scroll-behavior: smooth; /*Плавная прокрутка по якорям*/
}
*, *::before, *::after {
  box-sizing: inherit;
}


.container-content {
  max-width: 1200px;
  margin: 0 auto;
}



/*Header*/

.header {
  background: url(../assets/img/section1.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
}
.header-background-color {
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  height: 90px;
  max-width: 1440px;
  margin: 0 auto;
}
.header-container-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}
.logo {
  display: flex;
  flex-wrap: wrap;
  height: 31px;
  margin-top: -7px;
  gap: 8px;
}
.logo-text {
  height: 31px;
  margin: 0;
  font-family: 'Magra', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}
.hamburger {
  width: 35px;
  height: 32px;
  display: none;
  margin-top: 3px;
  margin-right: 6px;
}
.line {
  width: 26px;
  height: 3px;
  background-color: #FFFFFF;
  display: block;
  margin: 4px auto;
  border-radius: 3px;
}
.hamburger:hover{
  cursor: pointer;
}
.nav {
  margin-top: 1px;
  margin-left: -29px;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 43px;
  list-style: none;
} 
.link {
  text-decoration: none;
  color:#FFFFFF;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
.link:hover {
  color: #0D606F; /*Ссылка меняет цвет при наведении*/
}
.button {
  background-color: #0D606F;
  color:#FFFFFF;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 1px;
  gap: 10px;
  width: 103px;
  height: 41px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border:rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer; /*Курсор меняется при наведении*/
}
.button:hover {
  background-color: #F2785C; /*Кнопка меняет цвет при наведении*/
  border: 1px solid #0D606F;
}

/*Section preview*/

.preview {
  background: url(../assets/img/section1.jpg);
  background-repeat: no-repeat;
  background-position: center -90px;
  max-width: 1440px;
  margin: 0 auto;
  height: 675px;
  padding-top: 32px;
  box-shadow: inset 0px 4px 4px rgba(13, 96, 111, 0.5);
}
h1 {
  max-width: 892px;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 34px;
}
.preview-text {
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 45px;
}
.preview-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 892px;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}
.preview-input {
  width: 560px;
  height: 22px;
  padding: 41px;
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.button-preview-form {
  padding: 10px 32px;
  width: 228px;
  height: 59px;
  font-size: 24px;
  line-height: 32px;
  margin-left: 86px;
}

/*Section steps*/
.steps {
  padding-top: 47px;
}
.heading {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
  margin-bottom: 40px;
}
.steps-icon {
  max-width: 996px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-left: 84px;
  margin-bottom: 30px;
}
.rectangle {
  width: 100px;
  height: 100px;
  background: #F2785C;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle:nth-child(2) {
  margin-left: 32px;
}
.steps-text-icon {
  max-width: 1177px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.steps-text {
  height: 24px;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #0D606F;
  margin: 0;
}
.steps-text:nth-child(2) {
  margin-left: 70px;
}

/*Section destinations*/

.destinations {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 65px;
  margin-bottom: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.destinations-slider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  max-width: 2520px;
  height: 800px;
  padding-top: 5px;
}
.destinations-image {
  max-width: 800px;
  max-height: 800px;
  border-radius: 16px;
}
.destinations-caption {
  width: 2520px;
  display: flex;
  gap: 782px;
  margin-top: -109px;
  margin-bottom: 23px;
}
.destinations-caption-heading {
  height: 42px;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}
.destinations-caption-heading:last-child {
  margin-left: -29px;
}
.destinations-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 80px;
  height: 20px;
  margin-bottom: 40px;
}
.destinations-input {
  width: 20px;
  height: 20px;
  appearance: none;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 50%;
}
.destinations-input:checked {
  background: #F2785C; /*Изменяют цвет радио-кнопки при нажатии*/
}
.destinations-button {
  font-size: 24px;
  line-height: 32px;
  width: 228px;
  height: 59px;
  padding-left: 60px;
  background-image: url(../assets/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: 18% 45%;
}
.destinations-arrow-left,
.destinations-arrow-right {
  display: none;
}

/*Section stories*/

.stories {
  padding-top: 35px;
}
.stories-background-image {
  background: url(../assets/img/section4.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  margin: 0 auto;
}
.stories-background {
  height: 1270px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
}
.stories-container-content {
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  color: #0D606F;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 40px;
  margin-bottom: 24px;
}
.stories-four {
  display: flex;
  gap: 40px;
}
.stories-image {
  max-width: 400px;
  height: 250px;
  filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
}
.stories-heading {
  max-width: 760px;
  height: 42px;
  font-size: 35px;
  line-height: 42px;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  color: #0D606F;
  margin: 0;
  padding-top: 1px;
}
.stories-text {
  max-width: 760px;
  height: 184px;
  font-size: 20px;
  line-height: 24px;
  padding-top: 4px;
}
.stories-text-link {
  color: #0D606F;
  font-weight: bold;
}
.stories-button {
  font-size: 24px;
  line-height: 32px;
  padding: 10px 35px 10px 80px;
  margin: 0 auto;
  width: 228px;
  height: 59px;
  background-image: url(../assets/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: 18% 45%;
}

/*Footer*/

.footer {
  background: url(../assets/img/section4.jpg);
  background-repeat: no-repeat;
  background-position: center -1268px;
  height: 60px;
}

.footer-container-content {
  display: flex;
  justify-content: space-between;
}
.footer-text {
  height: 21px;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding-top: 5px;
}
.footer-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  width: 141px;
  height: 33px;
  padding: 0;
}
.footer-link {
  list-style: none;
}
.footer-image-rs {
  width: 100%;
  height: auto;
  margin-top: -5px;
}
.footer-image-github {
  width: 300%;
  height: auto;
  margin-top: -5px;
}

/*media to 391px*/

@media (max-width: 1002px) {
  .stories-image {
    max-width: 350px;
    height: 200px;
  }
  .stories-heading {
    font-size: 30px;
    line-height: 38px;
  }
  .stories-text {
    font-size: 18px;
    line-height: 20px;
  }
}

@media (max-width: 969px) {
  .nav {
    margin-left: 5px;
  }
  .nav-list {
    gap: 5px;
  }
  .logo-text {
    font-size: 26px;
  }

  .preview-form {
    width: 730px;
  }
  .preview-input {
    width: 395px;
  }

  .steps-icon {
    margin-left: 0px;
  }
}

@media (max-width: 810px) {
  .logo-text {
    font-size: 22px;
  }
  .link {
    font-size: 12px;
  }

  .preview-form {
    width: 555px;
    height: 85px;
  }
  .preview-input {
    width: 215px;
    padding: 5px;
    font-size: 16px;
  }
  .button-preview-form {
    width: 145px;
    font-size: 18px;
    margin-left: 176px;
    padding: 0;
  }

  .stories-image {
    max-width: 250px;
    height: 150px;
  }
  .stories-heading {
    font-size: 22px;
    line-height: 26px;
  }
  .stories-text {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
  }
  .stories-four {
    gap: 25px;
  }

}

@media (max-width: 621px) {
  .footer-text {
    font-size: 12px;
    line-height: 21px;
  }
  .footer-list {
    gap: 10px;
  }
  .footer-link {
    width: 50%;
  }
  .footer-image-github {
    width: 50%;
  }

  .preview-form {
    width: 385px;
  }
  .button-preview-form {
    width: 145px;
    margin-left: 13px;
  }

  .stories-image {
    height: 100px;
  }

}


@media (max-width: 469px) {
  .nav-list{
    max-width: 240px;
  }

  .steps-text {
    font-size: 18px;
  }

  .stories-image {
    max-width: 155px;
    height: 100px;
  }
  .stories-heading {
    font-size: 18px;
  }
  .stories-text {
    font-size: 10px;
  }
}


/*mobile*/

@media (max-width: 390px) {

  /*header*/

  .header {
    background-image: url(../assets/img/mobile-section1.jpg);
  }
  .header-background-color {
    height: 75px;
    background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 85.1%);
    background-color: transparent;
    box-shadow: none;
  }
  .container-content,
  .steps-icon,
  .steps-text-icon {
    max-width: 360px;
  }
  .container-content-mobile {
    height: 75px;
    align-items: flex-end;
  }
  .logo-text,
  .nav,
  .button-header,
  h1,
  .preview-text {
    display: none;
  }
  .logo {
    width: 360px;
    justify-content: space-between;
  }
  .hamburger {
    display: block;
  }
  
  /*section preview*/
  .preview {
    background-image: url(../assets/img/mobile-section1.jpg);
    background-position: center -75px;
    height: 177px;
    box-shadow: none;
    padding-top: 67px;
  }
  .preview-form {
    width: 360px;
    height: 48px;
  }
  .preview-input {
    width: 226px;
    height: 11px;
    padding: 16px;
    font-size: 14px;
    line-height: 17px;
  }
  .button-preview-form {
    width: 92px;
    height: 30px;
    margin-left: 33px;
    margin-top: 0;
    font-size: 11px;
    line-height: 15px;
    padding: 0;
  }

  /*section steps*/

  .steps {
    padding-top: 7px;
  }
  .heading {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
  }
  .steps-icon {
    margin-bottom: 9px;
    padding-top: 11px;
  }
  .rectangle {
    width: 70px;
    height: 70px;
  }
  .rectangle:nth-child(2) {
    margin-left: 0;
  }
  .steps-vector {
    width: 35px;
    height: 31px;
  }
  .steps-vector:nth-child(2) {
    height: 35px;
  }
  .steps-vector:last-child {
    width: 40px;
  }
  .steps-text {
    width: 94px;
    height: 22px;
    font-size: 10px;
    line-height: 12px;
    margin-top: 0;
    padding-top: 10px;
    text-align: left;
  }
  .steps-text:nth-child(2) {
    width: 111px;
    margin-left: 4px;
  }
  .steps-text:last-child {
    width: 98px;
    text-align: end;
  }
  
  /*section destinations*/
  
  .destinations {
    padding-top: 21px;
    margin-bottom: 20px;
  }
  .destinations-slider {
    gap: 20px;
    max-width: 1120px;
    height: 210px;
    padding-top: 10px;
    margin-right: -760px;
  }
  .destinations-image {
    width: 360px;
    height: 210px;
    border-radius: 16px;
  }
  .destinations-caption {
    width: 1120px;
    gap: 321px;
    margin-top: -212px;
    margin-right: -790px;
    margin-bottom: 136px;
  }
  .destinations-caption-heading {
    height: 26px;
    font-size: 20px;
    line-height: 26px;
  }
  .destinations-caption-heading:last-child {
    margin-left: -9px;
  }
  .destinations-form {
    gap: 6px;
    width: 36px;
    height: 8px;
    padding-top: 14px;
    margin-bottom: 25px;
  }
  .destinations-input {
    width: 8px;
    height: 8px;
  }
  .destinations-button {
    font-size: 11px;
    line-height: 15px;
    padding-left: 26px;
    width: 92px;
    height: 30px;
    background-image: url(../assets/svg/mobile-arrow.svg);
    background-position: 15% 45%;
  }
  .destinations-arrow-left,
  .destinations-arrow-right {
    display: inherit;
  }
  .destinations-arrow-left {
    background: url(../assets/svg/arrow-up-bold-left.svg);
    position: absolute;
    width: 30px;
    height: 30px;
    left: 20px;
    top: 574px;
  }
  .destinations-arrow-right {
    background: url(../assets/svg/arrow-up-bold-right.svg);
    position: absolute;
    width: 30px;
    height: 30px;
    left: 340px;
    top: 573px;
  }
  

  /*section stories*/

  .stories {
    padding-top: 0;
  }
  .stories-background-image {
    background: url(../assets/img/mobile-section4.jpg);
  }
  .stories-background {
    height: 629px;
  }
  .stories-container-content {
    height: 565px;
    padding-top: 11px;
    gap: 11px;
    margin-bottom: 21px;
  }
  .stories-four {
    gap: 10px;
  }
  .stories-image {
    width: 155px;
    height: 130px;
  }
  .stories-heading {
    width: 170px;
    height: 13px;
    font-size: 11px;
    line-height: 13px;
    padding-top: 5px;
  }
  .stories-text {
    max-width: 195px;
    font-size: 9px;
    line-height: 11px;
    padding-top: 15px;
    height: 124px;
  }
  .mobile-hide {
    display: none;
  }
  .stories-button {
    font-size: 11px;
    line-height: 15px;
    padding: 11px 10px 10px 27px;
    width: 92px;
    height: 30px;
    margin-left: 149px;
    background-image: url(../assets/svg/mobile-arrow.svg);
    background-position: 18% 45%;
  }

  /*footer*/

  .footer {
    background: url(../assets/img/mobile-section4.jpg);
    background-repeat: no-repeat;
    background-position: center -627px;
    height: 65px;
    padding-top: 1px;
  }
  .footer-container-content {
    justify-content: center;
  }
  .footer-list-hide, .footer-text {
    display: none;
  }
  .footer-list {
    padding-left: 5px;
    gap: 20px;
  }
}

/*max-width = 390px*/

@media (max-width: 370px) {
  .preview-form {
    width: 310px;
  }
  .preview-input {
    width: 206px;
    font-size: 13px;
  }
  .button-preview-form {
    width: 82px;
    margin-left: 11px;
    font-size: 10px;
  }

  .stories-image {
    width: 135px;
    height: 110px;
  }
  
}

.burger-menu {
  width: 165px;
  height: 250px;
  background: #F2785C;
  box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
  border-radius: 10px;
}
.hamburger-burger {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-left: 8px;
  padding-top: 5px;
}
.line-burger {
  width: 20px;
  height: 2px;
  background-color: #FFFFFF;
  display: block;
  margin: 4px auto;
  border-radius: 3px;
}
.line-burger:first-child {
  transform: translateY(13px) rotate(45deg);
}
.line-burger:last-child {
  transform: translateY(-13px) rotate(-45deg);
  margin-top: 24px;
}
.burger-nav {
  width: 151px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2px;
  padding-top: 12px;
}
.burger-nav-list {
  width: 110px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.burger-link {
  width: 110px;
  text-align: right;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}


