html {
  box-sizing: border-box;
  scroll-behavior: smooth; /*Плавная прокрутка по якорям*/
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}

/*Header*/

header {
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 90px;
}
.container-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
}
.logo {
  display: flex;
  width: 216px;
  height: 31px;
  margin-top: -9px;
  gap: 5px;
}
.logo-text {
  height: 31px;
  margin: 0;
  font-family: 'Magra', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}
.nav {
  width: 539px;
  padding-top: 4px;
  margin-left: 164px;
  margin-right: 193px;
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 41px;
  list-style: none;
} 
.link {
  text-decoration: none;
  color:#FFFFFF;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
.link:hover {
  color: #0D606F; /*Ссылка меняет цвет при наведении*/
}
.button {
  background-color: #0D606F;
  color:#FFFFFF;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 4px;
  gap: 10px;
  width: 103px;
  height: 41px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border:rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer; /*Курсор меняется при наведении*/
}
.button:hover {
  background-color: #F2785C; /*Кнопка меняет цвет при наведении*/
  border: 1px solid #0D606F;
}
.header-background-image {
  background-image: url(../assets/img/section1.jpg);
  background-size: 100% 100%;
  min-width: 1440px;
  min-height: 765px;
  position: absolute;
  z-index: -1;
  top: 0;
}

/*Section preview*/

.preview {
  width: 1440px;
  height: 422px;
  display: flex;
  justify-content: center;
  padding-top: 32px;
}
.container-preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1200px;
}
h1 {
  width: 892px;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
  margin: 0;
}
.preview-text {
  width: 723px;
  height: 24px;
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 14px;
  margin-bottom: 56px;
}
.preview-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 892px;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}
.preview-input {
  width: 560px;
  height: 22px;
  padding: 41px;
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.button-preview-form {
  padding: 10px 32px;
  width: 228px;
  height: 59px;
  font-size: 24px;
  line-height: 32px;
  margin-left: 86px;
}

/*Section steps*/

.steps {
  width: 1440px;
  height: 247px;
  margin-top: 338px;
  display: flex;
  justify-content: center;
}
.container-steps {
  width: 1177px;
  height: 247px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.heading {
  width: 622px;
  height: 53px;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
}
.steps-heading {
  margin: 0;
  margin-top: -10px;
}
.steps-icon {
  width: 996px;
  display: flex;
  justify-content: space-between;
  margin-left: -32px;
}
.steps-text-icon {
  width: 1177px;
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}
.rectangle {
  width: 100px;
  height: 100px;
  background: #F2785C;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle:nth-child(2) {
  margin-left: 32px;
}
.steps-text {
  width: 247px;
  height: 24px;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #0D606F;
  margin: 0;
}
.steps-text:nth-child(2) {
  width: 222px;
  margin-left: 70px;
}
.steps-text:last-child {
  width: 317px;
}

/*Section destinations*/

.destinations {
  width: 1440px;
  overflow: hidden;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.destinations-slider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  width: 2520px;
  height: 800px;
  margin-top: 12px;
}
.destinations-image {
  width: 800px;
  height: 800px;
  border-radius: 16px;
}
.destinations-caption {
  width: 2520px;
  display: flex;
  gap: 780px;
  margin-top: -114px;
}
.destinations-caption-heading {
  width: 95px;
  height: 42px;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}
.destinations-caption-heading:last-child {
  margin-left: -29px;
}
.container-destinations {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 36px;
  padding-top: 33px;
}
.destinations-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 80px;
  height: 20px;
}
.destinations-input {
  width: 20px;
  height: 20px;
  appearance: none;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 50%;
}
.destinations-input:checked {
  background: #F2785C; /*Изменяют цвет радио-кнопки при нажатии*/
}
.destinations-button {
  font-size: 24px;
  line-height: 32px;
  width: 228px;
  height: 59px;
  padding-left: 60px;
  background-image: url(../assets/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: 18% 45%;
}

/*Section stories*/

.stories {
  width: 1440px;
  padding-top: 47px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-stories {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stories-background {
  width: 1440px;
  height: 1316px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: -39px;
}
.stories-container {
  width: 1201px;
  height: 1091px;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  color: #0D606F;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  padding-top: 86px;
  gap: 14px;
}
.stories-four {
  display: flex;
  gap: 40px;
}
.stories-image {
  width: 400px;
  height: 250px;
  filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
}
.stories-heading {
  width: 760px;
  height: 42px;
  font-size: 35px;
  line-height: 42px;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  color: #0D606F;
  margin: 0;
  padding-top: 1px;
}
.stories-text {
  width: 760px;
  height: 184px;
  font-size: 20px;
  line-height: 24px;
  padding-top: 4px;
}
.stories-text-link {
  color: #0D606F;
  font-weight: bold;
}
.stories-button {
  font-size: 24px;
  line-height: 32px;
  padding: 10px 35px 10px 80px;
  width: 228px;
  height: 59px;
  margin-left: 607px;
  margin-top: 125px;
  background-image: url(../assets/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: 18% 45%;
}
.stories-background-image {
  width: 1440px;
  height: 1331px;
  background-image: url(../assets/img/section4.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 2405px;
}

/*Footer*/

.footer {
  width: 1440px;
  display: flex;
  padding-top: 10px;
  justify-content: space-around;
}
.container-footer {
  width: 1440px;
  height: 33px;
  display: flex;
  justify-content: space-between;
}
.footer-text {
  width: 260px;
  height: 21px;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding-top: 5px;
}
.footer-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  width: 141px;
  height: 33px;
  padding: 0;
}
.footer-link {
  list-style: none;
  padding-top: 5px;
}
.footer-image-rs {
  width: 100%;
  height: auto;
  margin-top: -5px;
}
.footer-image-github {
  width: 300%;
  height: auto;
  margin-top: -5px;
}

/*mobile*/

@media (max-width: 390px) {

  /*header*/

  header {
    width: 390px;
    height: 32px;
    background-color: transparent;
    box-shadow: none;
    margin-top: 43px;
  }
  .container-content,
  .container-preview,
  .container-steps,
  .steps-icon,
  .steps-text-icon {
    max-width: 360px;
  }
  .logo-text, .nav, .button-header, h1, .preview-text {
    display: none;
  }
  .header-background-image {
    width: 390px;
    height: 251px;
    background-image: url(../assets/img/mobile-section1.jpg);
  }

  /*section preview*/
  .preview {
    width: 390px;
    height: 120px;
    padding-top: 67px;
  }
  .preview-form {
    width: 360px;
    height: 48px;
  }
  .preview-input {
    width: 226px;
    height: 11px;
    padding: 16px;
    font-size: 14px;
    line-height: 17px;
  }
  .button-preview-form {
    width: 92px;
    height: 30px;
    margin-left: 33px;
    margin-top: 0;
    font-size: 11px;
    line-height: 15px;
    padding: 0;
  }

  /*section steps*/

  .steps {
    width: 390px;
    height: 153px;
    margin-top: 22px;
  }
  .container-steps {
    gap: 20px;
  }
  .heading {
    width: 217px;
    height: 19px;
    font-size: 14px;
    line-height: 19px;
    margin-top: 0;
  }
  .steps-icon {
    margin-left: 0;
  }
  .rectangle {
    width: 70px;
    height: 70px;
  }
  .rectangle:nth-child(2) {
    margin-left: 0;
  }
  .steps-vector {
    width: 35px;
    height: 31px;
  }
  .steps-vector:nth-child(2) {
    height: 35px;
  }
  .steps-vector:last-child {
    width: 40px;
  }
  .steps-text {
    width: 94px;
    height: 22px;
    font-size: 10px;
    line-height: 12px;
    margin-top: 0;
    padding-top: 10px;
    text-align: left;
  }
  .steps-text:nth-child(2) {
    width: 111px;
    margin-left: 0;
  }
  .steps-text:last-child {
    width: 98px;
    text-align: end;
  }
  
  /*section destinations*/
  
  .destinations {
    width: 390px;
    height: 294px;
    margin-top: 74px;
  }
  .destinations-slider {
    gap: 20px;
    width: 1120px;
    height: 210px;
    margin-top: 8px;
    margin-right: -757px;
  }
  .destinations-image {
    width: 360px;
    height: 210px;
    border-radius: 16px;
  }
  .destinations-caption {
    width: 1120px;
    gap: 321px;
    margin-top: -201px;
    margin-right: -788px;
  }
  .destinations-caption-heading {
    width: 60px;
    height: 26px;
    font-size: 20px;
    line-height: 26px;
  }
  .destinations-caption-heading:last-child {
    margin-left: -9px;
  }
  .container-destinations {
    width: 360px;
    gap: 19px;
    padding-top: 135px;
  }
  .destinations-form {
    gap: 6px;
    width: 36px;
    height: 8px;
  }
  .destinations-input {
    width: 8px;
    height: 8px;
  }
  .destinations-button {
    font-size: 11px;
    line-height: 15px;
    padding-left: 26px;
    width: 92px;
    height: 30px;
    background-image: url(../assets/svg/mobile-arrow.svg);
    background-position: 15% 45%;
  }


}

.burger-nav {
  width: 165px;
  height: 250px;
  background: #F2785C;
  box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.burger-nav-list {
  width: 135px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.burger-link {
  width: 105px;
  text-align: right;
}